<div class="container col-7  justify-content-center">
    <form class="form-inline ml-3" (ngSubmit)="onSubmit()" #f="ngForm" id="MainForm">
        <div class="form-group">
            <div class="form-control col-sm-6 col-6 mr-2">{{file.name}}</div>
              
            <button type="button" class="btn btn-secondary mr-2" (click)="removeFile()" *ngIf="file">Remove</button>
            <div class="d-flex justify-content-end btn-toolbar" role="toolbar">
              <div class="btn-group mr-2">
                <button class="btn btn-secondary" type="button" aria-pressed="true" (click)="onClick()">Select File</button>
              </div>
              <div class="btn-group mr-2">
                <button class="btn btn-primary" [disabled] = "!f.valid">
                  <span #spinner [ngClass]="{'spinner-border': isLoading, 'spinner-border-sm': isLoading}" role="status" aria-hidden="true"></span>
                  Send
                </button>
              </div>
            </div>
            <div *ngIf="errors">
              <li *ngFor="let e of errors">
                  {{e}}
              </li>
            </div>
            
            <input required ngModel style="visibility: hidden;" type="file" #fileUpload id="fileUpload" (change)="handleFileInput($event.target.files)" class="form-control col-sm-8" name="fileUpload" accept=".csv,.xml"/>
        </div>
    </form>
  </div>
