<div class="container col-7  justify-content-center">
    <form [ngSwitch]="selectedFilter" name="FilterForm" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
        <div class="form-group col-2" ngbDropdown #myDrop="ngbDropdown">
            <button type="button" class="btn btn-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">{{selectedFilter}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button type="button" ngbDropdownItem *ngFor="let o of filterOpt" (click)="changeSelectedFilter(o);onSubmit(f.value)">{{o}}</button>
            </div>
        </div>
        <div *ngSwitchCase="filterOpt[2]">
            <div class="form-group mb-2 col-8">
                <div class="form-group">
                    <label for="currency">Currency: </label>
                    <input type="text" id="currency" class="form-control" placeholder="Currency" name="cur" ngModel>
                </div>
                 <button class="btn btn-primary mr-2">Request</button>
            </div>
        </div>
        <div *ngSwitchCase="filterOpt[1]">
            <div class="form-group mb-2 col-8">
              <div class="form-group">
                <label for="start">Start: </label>
                <input class="form-control" id="start" name="start" type="datetime-local" ngModel>
              </div>
              <div class="form-group">
                <label for="end">End: </label>
                <input class="form-control" id="end" name="end" type="datetime-local" ngModel>
              </div>
                <button class="btn btn-primary mr-2">Request</button>
            </div>
            
        </div>
        <div *ngSwitchCase="filterOpt[0]">
            <div class="col" ngbDropdown #statusDropDown="ngbDropdown">
                <button type="button" class="btn btn-primary mr-2" id="status" ngbDropdownAnchor (focus)="statusDropDown.open()">{{selectedStatus}}</button>
                <div ngbDropdownMenu aria-labelledby="status">
                    <button type="button" ngbDropdownItem *ngFor="let o of statuses" (click)="selectStatus(o)">{{o}}</button>
                </div>
            </div>
            <input style="visibility: hidden;" type="text" name="status" [ngModel]="selectedStatus"/>
        </div>
    </form>
</div>