<ul *ngIf="transactions$ | async as transactions">
    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Transaction Id</th>
          <th scope="col">Amount</th>
          <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transaction of transactions$ | async; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <ngb-highlight [result]="transaction.transationId"></ngb-highlight>
          </td>
          <td><ngb-highlight [result]="transaction.amount + ' ' + transaction.currency"></ngb-highlight></td>
          <td><ngb-highlight [result]="transaction.status"></ngb-highlight></td>
        </tr>
        </tbody>
      </table>
</ul>

