<app-upload-file></app-upload-file>
<app-transaction-filter (filterChange)="onFilterChange($event)"></app-transaction-filter>
<app-show-transaction [transactions$] = "transactions$"></app-show-transaction>
